@{
    ViewBag.Title = "Parser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <h2 style="text-align:center">Сервис парсинга</h2>
    @using (Html.BeginForm("RunParser", "Parser", FormMethod.Post))
    {
        <div>
            <input class="btn btn-primary" type="submit" value="Обновить данные" name="UpdateData" />
        </div>
    }
    <p class="divider"></p>
    @using (Html.BeginForm("UpdateProxy", "Parser", FormMethod.Post))
    {
        <div>
            <input class="btn btn-primary" type="submit" value="Обновить список прокси" name="UpdateProxy" />
        </div>
    }
    <p class="divider"></p>
    @using (Html.BeginForm("RunPredictions", "Parser", FormMethod.Post))
    {
        <div>
            <input class="btn btn-primary" type="submit" value="Запустить предсказатель" name="RunPredictions" />
        </div>
    }
</section>    