@using JinnSports.BLL.Dtos
@model List<ConformityDto>
@{
    ViewBag.Title = "Меню сопоставления названий";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Меню сопоставления названий</h2>

<h4>Список полученных названий:</h4>
@foreach (ConformityDto input in Model)
{
    <br>@Html.ActionLink(input.InputName, "Edit", "Conformities", new { id = input.Id }, null)
}