@using JinnSports.BLL.Dtos
@model List<ConformityDto>
@{
    ViewBag.Title = "ConformitiesForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Names matching menu</h2>

<h4>List of incoming names:</h4>
@foreach (ConformityDto input in Model)
{
    <br>@Html.ActionLink(input.InputName, "Edit", "Conformities", new { id = input.Id }, null)
}
   


