<div class="container">
    <div class="pull-right hidden-xs">
        <b>Version</b> 0.1.173
    </div>
    <strong>Copyright &copy; @DateTime.Now.Year Kh.NET-003-</strong> All rights reserved.
</div>
