@model List<JinnSports.BLL.Dtos.ResultDto>

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">
            Предстоящие события
        </h3>
    </div>

    <div class="box-body">
        <table id="eventTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Вид спорта</th>
                    <th>Домашняя команда</th>
                    <th>Гостевая команда</th>
                    <th>Дата</th>
                </tr>
            </thead>
        </table>
    </div>
</div>