<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ProxySettings" type="JinnSports.Parser.App.Configuration.Proxy.ProxySection, JinnSports.Parser.App" />
    <section name="ParserSettings" type="JinnSports.Parser.App.Configuration.Parser.ParserSection, JinnSports.Parser.App" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <ProxySettings>
    <add profile="original" path="Proxy.xml" cooldown="60" asyncinterval="3" timeout="10"/>
    <add profile="user" path="SomeProxy.xml" cooldown="30" asyncinterval="10" timeout="10"/>
  </ProxySettings>

  <ParserSettings>
    <add profile="original" interval="3600"/>
  </ParserSettings>

  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="" />
      <datePattern value="'ParserLog-'dd.MM.yyyy'.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>

  <connectionStrings>
    <add name="SportsContext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='C:\inetpub\wwwroot\Sports.mdf';Integrated Security=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

</configuration>