<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ProxyXml" type="JinnSports.Parser.App.MyConfigSection, JinnSports.Parser.App" />
  </configSections>
  
  <ProxyXml>
    <add path="Proxy.xml"/>
    <add path="SomeProxy.xml"/>
  </ProxyXml>
  
  <connectionStrings>
    <add name="SportsContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=JinnSports.DAL.EF.SportsContext.cs;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>