@using JinnSports.WEB.Models
@model IList<SportResultsViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>History</title>
</head>
<body>
    <div> 
        <h3>Sport History</h3>
        <table>
            @foreach (var sportEvents in Model)
            {
                <tr>
                    <td colspan="2">
                        <h3>@sportEvents.SportName</h3>
                    </td>
                </tr>
                foreach (var events in sportEvents.Events)
                {
                    <tr>
                        <td><h4>@events.Result</h4></td>
                        <td><h4>@events.Date</h4></td>
                    </tr>
                }
            }
        </table>
    </div>
</body>
</html>
