@using JinnSports.WEB.Models
@model IList<SportResultsViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>History</title>
</head>
<body>
    <div> 
        <h3>Sport History</h3>
        <table>
            @foreach (var sportEvents in Model)
            {
                <tr>
                    <td colspan="2">
                        <h4>@sportEvents.SportName</h4>
                    </td>
                </tr>
                foreach (var events in sportEvents.Events)
                {
                    <tr>
                        <td><h6>@events.Result</h6></td>
                        <td><h6>@events.Date</h6></td>
                    </tr>
                }
            }
        </table>
    </div>
</body>
</html>
