@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Styles.Render("~/Content/DataTable")
}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Teams</h3>
    </div>
    <div class="box-body">
        <table id="eventTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>First Team</th>
                    <th>First Score</th>
                    <th>Second Score</th>
                    <th>Second Team</th>
                    <th>Date</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/Scripts/DataTable")
    <script>
    $(document).ready(function () {
        $("#eventTable").DataTable({
            "processing": true,
            "serverSide": true,
            "filter": false,
            "orderMulti": false,
            "ajax": {
                "url": "/Event/LoadEvents",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "TeamFirst", "name": "First Team", "autoWidth": true },
                    { "data": "ScoreFirst", "name": "First Score", "autoWidth": true },
                    { "data": "ScoreSecond", "name": "Second Score", "autoWidth": true },
                    { "data": "TeamSecond", "name": "Second Team", "autoWidth": true },
                    { "data": "Date", "name": "Date", "autoWidth": true }
            ]
        });
    });
    </script>
}
