@using JinnSports.BLL.Dtos.SportType
@model IEnumerable<SportTypeDto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Styles.Render("~/Content/DataTableStyles")
}
<!-- select -->
<div class="select">
    <label for="selectSportType">Select a SportType</label>
    <select class="sportType" id="sportType" onchange="selectSport()">
        <option value = 0>All</option>
        @foreach (SportTypeDto sportTypeDto in Model)
        {
            <option value=@sportTypeDto.Id>@sportTypeDto.Name</option>
        }
    </select>
</div>
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Results</h3>
    </div>
    <div class="box-body">
        <table id="eventTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>First Team</th>
                    <th>Score</th>
                    <th>Second Team</th>
                    <th>Date</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section scripts {
    <script>
        function loadResults(sportTypeId) {
            $("#eventTable").DataTable({
                "processing": false,
                "serverSide": true,
                "filter": false,
                "orderMulti": false,
                "ajax": {
                    url: '/api/Event/LoadEvents?sportTypeId=' + sportTypeId,
                    type: 'GET',
                    datatype: 'json',
                    dataSrc: 'data'
                },
                "columns": [
                        { 'data': 'TeamNames.0', 'autoWidth': true },
                        { 'data': 'Score', 'autoWidth': true },
                        { 'data': 'TeamNames.1', 'autoWidth': true },
                        { 'data': 'Date', 'autoWidth': true }
                ]
            });
        };
    </script>
@Scripts.Render("~/Scripts/DataTable")
    <script>
        function selectSport() {
            var sportTypeList = document.getElementById("sportType");
            var selectedId = sportTypeList.options[sportTypeList.selectedIndex].value;
            
            $('#eventTable').dataTable().fnDestroy();
            loadResults(selectedId);
        };
    </script>
    <script>
    $(document).ready(function () {
        loadResults(0);
    });
    </script>
}
