@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Styles.Render("~/Content/DataTable")
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Results</title>
</head>
<body>
    <div> 
        @Html.ActionLink("Главная", "Index", "Home")
        @Html.ActionLink("Команды", "Index", "Team")        
        <h3>Sport History</h3>
        <table>           
                <tr>
                    <td colspan="2">
                        <h3></h3>
                    </td>
                </tr>                
                <tr>
                    <td><h4></h4></td>
                    <td><h4></h4></td>
                </tr>
        </table>
    </div>
</body>
</html>
