@using JinnSports.BLL.Dtos.SportType
@model IEnumerable<SportTypeDto>
@{
    ViewBag.Title = "Результаты матчей";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Styles.Render("~/Content/DataTableStyles")
}
<!-- select -->
<div class="select">
    <label for="selectSportType">Выберите тип спорта</label>
    <select class="sportType" id="sportType" onchange="selectSport()">
        <option value=0>Все</option>
        @foreach (SportTypeDto sportTypeDto in Model)
        {
            <option value=@sportTypeDto.Id>@sportTypeDto.Name</option>
        }
    </select>

    <label for="selectSportType">Выберите время</label>
    <select class="sportTime" id="sportTime" onchange="selectSport()">
        <option value=1>Все</option>
        <option value=0>Прошлое</option>
        <option value=2>Будущее</option>
    </select>
</div>
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Результаты</h3>
    </div>
    <div class="box-body">
        <table id="eventTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Домашняя команда</th>
                    <th>Счет</th>
                    <th>Гостевая команда</th>
                    <th>Дата</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section scripts {
    <script>
        function loadResults(sportTypeId, time) {
            $("#eventTable").DataTable({
                "ordering": false,
                "processing": false,
                "serverSide": true,
                "filter": false,
                "orderMulti": false,
                "ajax": {
                    url: '/api/Event/LoadEvents?sportTypeId=' + sportTypeId + '&time=' + time,
                    type: 'GET',
                    datatype: 'json',
                    dataSrc: 'data'
                },
                "columns": [
                    { 'data': 'TeamNames.0', 'autoWidth': true },
                    { 'data': 'Score', 'autoWidth': true },
                    { 'data': 'TeamNames.1', 'autoWidth': true },
                    { 'data': 'Date', 'autoWidth': true }
                ],
                "language": {
                    url: '/Content/DataTables/russian.json'
                }
            });
        };
    </script>
    @Scripts.Render("~/Scripts/DataTable")
    <script>
        function selectSport() {
            var sportTypeList = document.getElementById("sportType");
            var timeList = document.getElementById("sportTime");

            var selectedId = sportTypeList.options[sportTypeList.selectedIndex].value;
            var time = timeList.options[timeList.selectedIndex].value;

            $('#eventTable').dataTable().fnDestroy();
            loadResults(selectedId, time - 1);
        };
    </script>
    <script>
        $(document).ready(function () {
            var sportTypeId = $.urlParam('sportTypeId');
            var time = $.urlParam('time');
            if (time == undefined || sportTypeId == undefined) {
                loadResults(0, 0);
            }
            else {
                loadResults(sportTypeId, time);
                $('#sportType').val(sportTypeId);
                $('#sportTime').val(String(Number(time)+1));
            }
        });
    </script>
    <script>
        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results == null) {
                return null;
            }
            else {
                return results[1] || 0;
            }
        }
    </script>
}