<?xml version="1.0"?>
<configuration>
  <configSections>
      <section name="ProxyXml" type="JinnSports.Parser.App.MyConfigSection, JinnSports.Parser.App" />
  </configSections>
    <ProxyXml>
      <add profile="original" path="Proxy.xml" cooldown="60" asyncinterval="3" timeout="10"/>
      <add profile="user" path="SomeProxy.xml" cooldown="30" asyncinterval="10" timeout="10"/>
    </ProxyXml>
    <system.web>
      <compilation debug="true" targetFramework="4.6.1" />
      <httpRuntime targetFramework="4.6.1" />
    </system.web>

</configuration>
