@{
    ViewBag.Title = "Нет доступа";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="error-page">
        <h3 class="headline text-yellow">403</h3>

        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> Упс! У вас нет прав на просмотр этой страницы.</h3>

            <p>
                Тем временем, можете вернуться на <a href="/">главную страницу</a>.
            </p>

        </div>
    </div>
</section>