@{
    ViewBag.Title = "Страница не найдена";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="error-page">
        <h3 class="headline text-yellow">404</h3>

        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> Упс! Страница не найдена.</h3>

            <p>
                Мы не можем найти страницу, на которую вы перешли. Видимо Артём её еще не сделал,
                но не волнуйтесь, мы его уже выгнали.
            </p>
            <p>
                Тем временем, можете вернуться на <a href="/">главную страницу</a>.
            </p>

        </div>
    </div>
</section>