@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Team Details</title>
</head>
<body>
<div>
    @Html.ActionLink("Главная", "Index", "Home")
    @Html.ActionLink("Команды", "Index", "Team")
    @Html.ActionLink("Результаты матчей", "Index", "Event")
    <h3>ID: </h3>
    <h4>NAME: </h4>
    
</div>
</body>
</html>
