@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
<div>
    <h3>ID: </h3>
    <h4>NAME: </h4>
    
</div>
</body>
</html>
