@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Teams</title>
</head>
<body>
    @Html.ActionLink("Главная", "Index", "Home")
    @Html.ActionLink("Результаты", "Index", "Event")
    <div style="width:90%; margin:0 auto;">
        <table id="teamTable">
            <thead>
                <tr>
                    <th>Team</th>
                </tr>
            </thead>
        </table>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @* Load datatable css *@
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    
        @* Load DataTable js here *@
         <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
        <script>
        $(document).ready(function () {
            $("#teamTable").DataTable({
                "processing": true,
                "serverSide": true,
                "filter": false,
                "orderMulti": false,
                "ajax": {
                    "url": "/Team/LoadTeams",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                        { "data": "Name", "name": "Name", "autoWidth": true },
                        { "data": "Name", "command": "Name", "autoWidth": true }
                ]
            });
        });
        </script>

<hr />
</body>
</html>
