@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
@foreach (var item in Model)
{
    <div>
        <dl class="dl-horizontal">
            <dt>
                
            </dt>

            <dd>
               
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Details", "Details")
    </p>
}
<hr />
</body>
</html>
