@model IEnumerable<JinnSports.WEB.Models.TeamViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
@foreach (var item in Model)
{
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Name)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Details", "Details", new { id = item.Id })
    </p>
}
<hr />
</body>
</html>
