.table-events{
    min-width:400px;
    width:100%;
}

.table-events tr.row-events:nth-child(2n)
{
    background:#e2f4fd;
}

.table-events tr.row-events:nth-child(2n+1)
{
    background:#fff;
}

.table-events tr.row-events:hover
{
    cursor:pointer;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
    transform:scale(1.05,1.05);
}

.table-events tr
{
    transition:0.3s;
}

.table-events tr td, .table-events tr th{
    border:1px solid #ccc;
    text-align:center;
    font-size:20px;
    padding:5px 0;
}
